#os-tag-manager-field {
    .alert {
        margin-top: 10px;
    }
    .btn {
        margin-bottom: 10px;
        margin-right: 4px;
    }
    .pound {
        opacity: 0.5;
    }
    .btn-tag , .btn-tag:visited, .btn-tag:hover {
        color: #000000 !important;
        text-decoration: none;
    }
    .btn-tag-selected, .btn-tag-selected:visited, .btn-tag-selected:hover {
        color: #FFFFFF !important;
    }
    .tag-group h3 {
        margin-top: 0;
    }
}
